<div class="heading">ユーザーを探す</div>
<%= paginate @users %>
<div class="row">
<div class="card col-md-3 px-0 shadow-sm" style="height: fit-content;">
    <%= render 'users/user_search', q: @q %>
    </div>
    <div class="flex col-md-9">
    <%= render 'users/users', users: @users %>
    </div>
    </div><%= paginate @users %>