 <div class="card container shadow-sm col-sm-4 text-center" style="margin-top: 50px;">
    <%= render 'users/user_search', q: @q %>
 </div>
    <%= render 'users/users', users: @users %>
  <div class="row justify-content-center">
    <%= paginate @users %>
  </div>