<p>観たいリストに追加する</p>
 <% if @interests.present? %>
  <%= link_to "/movie/#{movie.id}/interest", class:"btn btn-light ", method: :delete, remote: true do %>
    <i class="fas fa-plus-square square-green"></i>
    <%= @interest_users %>
  <% end %>
 <% else %>
  <%= link_to "/movie/#{movie.id}/interest", class:"btn btn-light ", method: :post, remote: true do %>
    <i class="far fa-plus-square"></i>
    <%= @interest_users %>
   <% end %>
  <% end %>