<div class="timeline-heading text-center" >フォローしているユーザーの最新レビュー</div>
  <div>
    <%= paginate @timeline_reviews %>
    <%= render 'layouts/timeline', timeline_reviews: @timeline_reviews %>
    <%= paginate @timeline_reviews %>
  </div>
