/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*フッターーの位置を最下に固定*/
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}


body * a {
  text-decoration: none;
  color: black;
}

body * a:hover {
  text-decoration: none;
  color: #91969E;
}

.pagination{
  justify-content: center;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: rgb(3, 37, 65) !important;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}


.header-text{
  text-decoration: none;
  color: #ccc;
  font-size: 18px;
}

.navbar-toggler-icon{
  /* 三本線 */
  padding-top: 7px;
  color: #ccc;
}


.guest-button{
  margin-right: 10px;
}

#detail {
  width: 100%;
  height: 610px;
  background-size: cover;
}

.rate-number{
  display: inline-block;
  display: inline;
}

.square-green{
  color: #98FB98;
}

.search_items {
    display: flex;
    flex-wrap: wrap;
    padding: 0.4em;
    -webkit-box-pack: center;
    justify-content: center;
}

.genre-button {
    font-family: Oswald, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    color: white;
    padding: 8px 12px;
    border: 2px solid rgb(3, 37, 65);
    border-radius: 1em 0.25em;
    margin-top: 0.6em;
    margin-right: 0.6em;
    outline: none;
    background-color: rgb(3, 37, 65) !important;
}




#footer {
  margin-top: 200px;
  position: relative;
  background: #021b30;
}

#footer .logo {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #111;
}

.logo-title{
  color: #ccc;
  font-size: 40px;
}


#footer .logo a {
  display: inline-block;
}

#footer .logo img {
  width: 120px;
}

#footer .nav a {
  display: block;
  padding: 0 10px;
  color: #ccc;
}


.copyright {
  color: #ccc;
  font-size: 5px;
  font-weight: 200;
}

@media only screen and (min-width: 641px) {
  //PCのみ
  #footer .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
  }
}

.pagenation{
  margin-top: 80px;
}


.page{
  margin: 5px;
  color: #2125299e;
}

.current_page{
  color: black;
  font-weight: 600;
}

.page-button-text {
    color: #ccc;
    margin-right: 12px;
}

.page-button {
  margin: 0px 8px;
  display: inline-block;
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 0.2em;
  width: 70px;
  background-color: rgb(3, 37, 65) !important;
}

.devise_container {
  @extend .container-fluid;
  max-width: 576px;
}


/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    color: white;
}

.SNS-login {
  margin-bottom: 50px;
}

.SNS{
  margin-bottom: 20px;
  text-align: center;
}

.facebook{
  border-radius: 10px;
  background-color: #3b5998;
}

.facebook_log_in{
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.google{
  border-radius: 10px;
  background-color: #ffc107;
}

.google_log_in{
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.twitter{
  border-radius: 10px;
  background-color: #55acee;
}

.twitter_log_in{
  color: white;
  font-size: 30px;
  font-weight: 300;
}


@media screen and (max-width: 990px) {
 .header-text{
    text-decoration: none;
    color: #ccc;
    font-size: 60px;
}

 .movie-index-title {
    margin-left: 40px;
    margin-top: 30px;
    font-weight: 800;
    font-size: 48px;
}

 .search_heading {
    margin-left: 40px;
    font-weight: 600;
    font-size: 32px;
}

 .genre-button {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: white;
    padding: 8px 12px;
    border: 2px solid #032541;
    border-radius: 1em 0.25em;
    margin-top: 0.6em;
    margin-right: 0.6em;
    outline: none;
    background-color: #032541 !important;
}

 .index-cards-img {
    height: 600px;
    width: 397px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

 .index-cards {
    width: 397px;
    height: 800px;
    margin-right: 50px;
}

 .index-cards {
    width: 397px;
    height: 800px;
    margin-right: 50px;
}

 #index-cards-text {
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    right: 8px;
    bottom: 55px;
    display: flex;
}

 .pagenation {
    margin-top: 80px;
    font-size: 55px;
}
}