// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-index-title{
  margin-left: 40px;
  margin-top: 30px;
  font-weight: 800;
  font-size: 18px;
}

.search_heading{
  margin-left: 40px;
  font-weight: 600;
  font-size: 16px;
}

.movies-list{
  margin-bottom: 20px;
}

ul.horizontal-list {
	margin-top: 30px;
	overflow-x: auto;
	white-space: nowrap;
}

.index-cards{
	width: 250px;
	height: 520px;
	margin-right: 50px;
}


.index-cards-img{
	height: 375px;
	width: 248px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.index-cards-body{
	height: 140px;
	position: relative;
}

.movie-title{
	width: 230px;
	word-wrap: break-word;
	font-size: 14px;
	font-weight: 600;
	white-space: normal;
}

#index-cards-text{
  font-size: 14px;
  position: absolute;
  font-weight: 400;
  right: 8px;
  bottom: 55px;
  display: flex;
}

.index-cards-bottom{
  position: absolute;
  bottom: 0px;
  text-align: center;
  margin-bottom: 15px;
  right: 8px;
}

.index-review-button{
  position: absolute;
  bottom: 0px;
  margin-bottom: 15px;
}

/* posts/index ================================ */
.posts-index-item {
  padding-top: 30px;
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* posts/show ================================ */

.movie-content{
  display: flex;
  max-width: 1300px;
  padding: 40px;
  width: 100%;
  margin: 0px auto;
  color: white;
}

.background-custom{
  height: 610px;
  background-image: linear-gradient(to right, rgba(15, 70, 69, 0.6) 150px, rgba(27, 93, 92, 0.84) 100%) !important;
}



.content-left img{
  height: 525px;
  width: 350px;
  margin-left: 45px;
  border-radius: 10px;
}

.content-right{
  padding-left: 60px;
}

.movie-show-title {
    font-weight: 800;
    display: flex;
    font-size: 25px;
    line-height: 40px;
    height: 40px;
    display: contents;
}

.movie-show-originaltitle{
  display: inline-block;
  padding-left: 10px;
  font-weight: 150;
}

.movie-info-date{
    padding-top: 20px;
    padding-left: 5px;
    margin-bottom: 20px;
    line-height: 24px;
    font-weight: 150;
}


.movie-follow-button{
  display: inline-block;
}

.movie-button{
  display: inline-block;
}

.btn-warning {
  height: 40px;
}

.btn-info{
  height: 40px;
}

.movie_interest{
  padding-left: 30px;
}


.posts-show form {
  display: inline;
}

.movie-overview{
  max-height: 180px;
  margin-bottom: 30px;
  width: 95%;
}

.overview-title{
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.overview-text{
  padding-left: 20px;
  font-size: 18px;
  font-weight: 200;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.page-header {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    border-bottom: 2px solid lightgray;
}

.post-user-name img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

.review_index_card_footer{
	border-top: 1px solid #eee;
}

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}