// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* users/index ================================ */
.container-user{
  width: 1500px;
}

.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.card {
  height: 350px;
  display: inline-block;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 100%;
}

.users-index-card {
  background-color: white;
  overflow: hidden;
  display: table;
  width: 100%;
}


.count-box{
  font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: inline-block;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 14px;
}

.card-label{
  display: block;
  color: #7e7e7e;
  font-size: 0.7rem;
  line-height: 1;
}

.card-count{
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}



.follow-box{
  display: inline-block;
}

.user-show-card{
  margin-bottom: 30px;
}

.user-show {
  text-align: center;
}

.user {
  margin-bottom: 20px;
}

.user img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user-name {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.user-old {
  display: inline-block;
  color: #8899a6;
  font-size: 17px;
  margin-left: 5px;
}


.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}


.user-edit-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px 0 10px;
  object-fit: cover;
}