<footer id="footer" class="footer outer-block">
      <div class="logo">
        <div class="logo-title">Movie Review</div>
        </a>
      </div>
      <ul class="nav">
        <li><a href="/movies">MOVIE</a></li>
        <li><a href="/reviews">REVIEW</a></li>
        <li><a href="users">USER</a></li>
        <li><a href="/ranking">RANKING</a></li>
        <li><a href="https://b-risk.jp/contact/">CONTACT</a></li>
      </ul>
      <div class="copyright text-center">
        COPYRIGHT © MovieReview Inc. All rights Reserved.
      </div>
  </footer>